In [1]:
import pandas as pd

student_data = {
    'Student_ID': [201, 202, 203, 204, 205],
    'Name': ['Ayesha', 'Bilal', 'Danish', 'Hina', 'Umar'],
    'Department': ['CS', 'IT', 'CS', 'SE', 'IT'],
    'Marks': [86, 74, 91, 68, 88],
    'Attendance': [90, 82, 96, 78, 92]
}

df = pd.DataFrame(student_data)

# 1. Displaying only students from  IT department
it_students = df[df['Department'] == 'IT']
print("\n1. Students from IT Department:")
print(it_students)

1. Students from IT Department:
   Student_ID   Name Department  Marks  Attendance
1         202  Bilal         IT     74          82
4         205   Umar         IT     88          92

In [2]:
# 2. Calculating the average marks in each department
avg_marks_by_dept = df.groupby('Department')['Marks'].mean().reset_index()
avg_marks_by_dept.columns = ['Department', 'Average_Marks']
print("\n Average Marks by Department")
print(avg_marks_by_dept)

 Average Marks by Department
  Department  Average_Marks
0         CS           88.5
1         IT           81.0
2         SE           68.0

In [3]:
# 3. Addinc new column Status
df['Status'] = df['Marks'].apply(lambda x: 'Pass' if x >= 70 else 'Fail')
print(df)

   Student_ID    Name Department  Marks  Attendance Status
0         201  Ayesha         CS     86          90   Pass
1         202   Bilal         IT     74          82   Pass
2         203  Danish         CS     91          96   Pass
3         204    Hina         SE     68          78   Fail
4         205    Umar         IT     88          92   Pass

In [4]:
# 4. Students with attendance less than 85%
low_attendance = df[df['Attendance'] < 85]
print(low_attendance)

   Student_ID   Name Department  Marks  Attendance Status
1         202  Bilal         IT     74          82   Pass
3         204   Hina         SE     68          78   Fail

In [5]:
# 5. Sorting the DataFrame by Marks (highest to lowest)
df_sorted = df.sort_values(by='Marks', ascending=False)
print(df_sorted)

   Student_ID    Name Department  Marks  Attendance Status
2         203  Danish         CS     91          96   Pass
4         205    Umar         IT     88          92   Pass
0         201  Ayesha         CS     86          90   Pass
1         202   Bilal         IT     74          82   Pass
3         204    Hina         SE     68          78   Fail